Código desenvolvido durante um intensivão de python.

Destinado a automatização de tarefas. Sendo através do mesmo realizada a obtenção da cotação do ouro, dolar e euro, e a alteração de dados em uma planilha no excel baseados no valor das moedas no momento.

Para o funcionamento do código é necessária a instalação do selenium e do WebDriver.

In [11]:
# !pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Criação do navegador
navegador = webdriver.Chrome()

In [12]:
navegador.get("https://www.google.com.br/")

# Obter cotação do Dolar
navegador.find_element('xpath', 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação dolar")

#Usar teclas
navegador.find_element('xpath', 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

#Obter atributo da página WEB
cotacaoDolar = navegador.find_element('xpath', 
                       '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

In [13]:
#Obter cotação do euro 

navegador.get("https://www.google.com.br/")

navegador.find_element('xpath', 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação Euro")

#Usar teclas
navegador.find_element('xpath', 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

#Obter atributo da página WEB
cotacaoEuro = navegador.find_element('xpath', 
                       '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

In [14]:
# Obter a cotação do ouro

navegador.get("https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20316%2C39.")

cotacaoOuro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')

cotacaoOuro = cotacaoOuro.replace(',', '.')

#fechando o navegador

navegador.quit()

In [15]:
#Visualização dos valores extraídos

print(cotacaoDolar)
print(cotacaoEuro)
print(cotacaoOuro)

5.0831
5.5287
316.33

In [16]:
#Tratar as informações

import pandas as pd
import openpyxl
import numpy

tabela = pd.read_excel("tabela_produtos.xlsx")
display(tabela)

,Unnamed: 0,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,0,Câmera Canon,999.99,Dolar,5,4999.95,1.40,6999.93
1,1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.00
2,2,Notebook Dell,899.99,Dolar,5,4499.95,1.70,7649.00
3,3,Iphone,799.00,Dolar,5,3995.00,1.70,6791.50
4,4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.00
5,5,Celular Xiomi,480.48,Dolar,5,2402.40,2.00,4804.80
6,6,Joia 20kg,20.00,Ouro,350,7000.00,1.15,8050.00

In [17]:
tabela.loc[tabela["Moeda"] == "Dolar", "Cotação "] = float(cotacaoDolar)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação "] = float(cotacaoOuro)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação "] = float(cotacaoEuro)

display(tabela)

,Unnamed: 0,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Cotação
0,0,Câmera Canon,999.99,Dolar,5,4999.95,1.40,6999.93,5.0831
1,1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.00,5.5287
2,2,Notebook Dell,899.99,Dolar,5,4499.95,1.70,7649.00,5.0831
3,3,Iphone,799.00,Dolar,5,3995.00,1.70,6791.50,5.0831
4,4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.00,5.5287
5,5,Celular Xiomi,480.48,Dolar,5,2402.40,2.00,4804.80,5.0831
6,6,Joia 20kg,20.00,Ouro,350,7000.00,1.15,8050.00,316.3300

In [18]:
#Recalcular os preços

tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]


display(tabela)

,Unnamed: 0,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Cotação
0,0,Câmera Canon,999.99,Dolar,5,4999.95,1.40,6999.93,5.0831
1,1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.00,5.5287
2,2,Notebook Dell,899.99,Dolar,5,4499.95,1.70,7649.00,5.0831
3,3,Iphone,799.00,Dolar,5,3995.00,1.70,6791.50,5.0831
4,4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.00,5.5287
5,5,Celular Xiomi,480.48,Dolar,5,2402.40,2.00,4804.80,5.0831
6,6,Joia 20kg,20.00,Ouro,350,7000.00,1.15,8050.00,316.3300

In [19]:
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem "]


display(tabela)

,Unnamed: 0,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Cotação
0,0,Câmera Canon,999.99,Dolar,5,4999.95,1.40,6999.930,5.0831
1,1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000,5.5287
2,2,Notebook Dell,899.99,Dolar,5,4499.95,1.70,7649.915,5.0831
3,3,Iphone,799.00,Dolar,5,3995.00,1.70,6791.500,5.0831
4,4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000,5.5287
5,5,Celular Xiomi,480.48,Dolar,5,2402.40,2.00,4804.800,5.0831
6,6,Joia 20kg,20.00,Ouro,350,7000.00,1.15,8050.000,316.3300

In [20]:
#Formatação dos valores + exportação da base para o excel

tabela.to_excel("Produtos_Novo.xlsx", index = False)